@import "./vars.scss";
@import "./base.scss";
@import "./form.scss";

body {
  background: $background-body;
  font-family: $font-primary;
  font-size: $font-size;
  color: $color-font;
}

.page-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  padding: 1.5rem;
  @media (min-width: $mobile-screen) {
    flex-direction: row;
  }
  h1, h2, h3 {
    align-self: flex-start;
    background: $background-page-title;
    background-repeat: no-repeat;
    background-size: 100% 46%;
    background-position: 0 124%;
    line-height: 2.5rem;
    margin: 0;
  }
  .user-tracker-bar {
    @media (min-width: $mobile-screen) {
      order: 1;
    }
  }
}

.page-container {
  margin: 0 auto;
  max-width: $width-screen;
  width: 100%;
}

.page-content {
  padding: 1.5rem;
}