@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

$background-body: #F4F4F4;

$color-accent-50: #FFF3F0;
$color-accent-100: #FFE0DA;
$color-accent-200: #FFCCC2;
$color-accent-300: #FFB8A9;
$color-accent-500: #FF9984;
$color-accent-700: #FF8671;
$color-accent-900: #FF6B54;
$color-font: #3F3F3F;
$color-menu-link: #5D5D5D;
$color-primary-50: #ECF7F4;
$color-primary-100: #CFECE3;
$color-primary-200: #AFDFD1;
$color-primary-300: #8ED2BF;
$color-primary-500: #5EBEA3;
$color-primary-700: #4CAF91 ;
$color-primary-900: #319977 ;
$color-shadow-300: #CBCBCB;
$color-shadow-500: #B5B5B5;
$color-shadow-900: #8D8D8D;

$font-primary: 'Montserrat', sans-serif;
$font-size: 15px;

$width-screen: 1080px;
$mobile-screen: 780px;