@import "@/assets/css/vars.scss";

.user-menu {
    align-items: center;
    display: flex;
    .profile-picture-wrapper{
        margin-right: 1.5rem;
        position: relative;
        &.online {
            &::after {
                background-color: $color-primary-500;
            }
        }
        &.offline {
            &::after {
                background-color: $color-accent-500;
            }
        }
        &::after {
            background-color: $color-shadow-500;
            border-radius: 100%;
            content: '';
            display: block;
            height: 9px;
            position: absolute;
            right: -4px;
            top: 0;
            width: 9px;
        }
        .profile-picture {
            border-radius: 100%;
            height: 24px;
            object-fit: cover;
            vertical-align: middle;
            width: 24px;
        }
    }
    .name {
        font-weight: bold;
    }
}