@import "@/assets/css/vars.scss";

$size-menu: 200px;

.user-menu {
    align-items: center;
    display: flex;
    .profile-picture-wrapper{
        margin-right: 1.5rem;
        position: relative;
        &.online {
            &::after {
                background-color: $color-primary-500;
            }
        }
        &.offline {
            &::after {
                background-color: $color-accent-500;
            }
        }
        &::after {
            background-color: $color-shadow-500;
            border-radius: 100%;
            content: '';
            display: block;
            height: 9px;
            position: absolute;
            right: -4px;
            top: 0;
            width: 9px;
        }
        .profile-picture {
            border-radius: 100%;
            height: 24px;
            object-fit: cover;
            vertical-align: middle;
            width: 24px;
        }
    }
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        .menu-item {
            position: relative;
            &:hover {
                > .submenu {
                    display: block;
                }
            }
            > a {
                color: $color-font;
                font-size: 0.8rem;
                font-weight: bold;
                @media (min-width: $mobile-screen) {
                    font-size: 1rem;
                }
                .icon {
                    font-size: 0.8rem;
                    margin-left: 0.5rem;
                }
            }
            > .submenu {
                right: 0;
            }
            .submenu {
                background: #fff;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 15px -3px, rgba(0, 0, 0, 0.04) 0px 4px 6px -2px;
                display:none;
                list-style-type: none;
                padding: 0;
                position:absolute;
                transition: all 0.200s;
                width: $size-menu;
                li {
                    border-bottom: 1px solid #E7E7E7;
                    position: relative;
                    text-align: center;
                    &:hover {
                        background-color: $color-primary-100;
                        > .submenu {
                            display: block;
                        }
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                    a {
                        color: $color-menu-link;
                        display: block;
                        font-size: 0.75rem;
                        padding: 0.75rem;
                        .icon {
                            float: left;
                            margin-top: 2px;
                        }
                    }
                    .submenu {
                        left: -$size-menu;
				        top: 0px;
                    }
                }
            }
        }
    }
}