@import "@/assets/css/vars.scss";

.user-bar {
    align-items: center;
    background: #E7E7E7;
    border-radius: 2rem;
    display: flex;
    float: right;
    margin: 2rem;
    padding: 0.5rem 1rem;
    button {
        & + button {
            margin-left: 5px;
        }
    }
    .separator {
        color: $color-shadow-500;
        display: inline-block;
        font-size: 1.3rem;
        line-height: 1.3rem;
        margin: -2px 1rem 0;
    }
}