@import "@/assets/css/vars.scss";

.user-tracker-bar {
    align-items: center;
    background: #E7E7E7;
    border-radius: 2rem;
    display: flex;
    float: right;
    margin: 2rem;
    padding: 0.5rem 1.5rem;
    button {
        min-width: 110px;
        width: auto;
        & + button {
            margin-left: 10px;
        }
    }
    .time {
        font-size: 0.75rem;
        margin-right: 1.5rem;
        width: 50px;
    }
    .separator {
        color: $color-shadow-500;
        display: inline-block;
        font-size: 1.3rem;
        line-height: 1.3rem;
        margin: -2px 1rem 0;
    }
}